
    .container-main{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-items: center;
    }

@media screen and (max-width:600px){
    .container-main{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
} 


.btns .dec{
    margin: 5px;
    background: pink ;
    border-radius: 5px;
    border-width: 0px;
    font-size: 0.7rem;
    color: white;
}
.btns .counter{
    cursor: unset;
}

.icon{
    background-color: transparent;
    border-width: 0px;
    font-size: 24px;
}
.btns{
    display: flex;
    flex-wrap: nowrap;
}